<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>promisesList</title>
    <meta charset="UTF-8">
</head>
<body>

<table>
    <tr>
        <th>Title of Promise</th>
        <th>Description of the Promise</th>
        <th>Date of the Promise</th>
        <th>Promise Status</th>
        <th>A Politician Making a Promise</th>

    </tr>
        <td th:text="${promiseDetails.titleOfPromise}"></td>
        <td th:text="${promiseDetails.descriptionOfThePromise}"></td>
        <td th:text="${promiseDetails.dateOfThePromise}"></td>
        <td th:text="${promiseDetails.promiseStatus.name}"></td>
        <td>
            <a th:href="@{/edit/(id=${promiseDetails.id})}">
                <button type="button">Edit</button>
            </a>
        </td>
    </tr>
</table>
</body>
</html>
