<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>promisesList</title>
    <meta charset="UTF-8">
</head>
<body>

<table>
    <tr>
        <th>Title of Promise</th>
        <th>Description of the Promise</th>
        <th>Date of the Promise</th>
        <th>Promise Status</th>
        <th>A Politician Making a Promise</th>

    </tr>
    <tr th:each="promise : ${latestPromise}">
        <td th:text="${promise.titleOfPromise}"></td>
        <td th:text="${promise.descriptionOfThePromise}"></td>
        <td th:text="${promise.dateOfThePromise}"></td>
        <td th:text="${promise.promiseStatus.name}"></td>
        <td th:text="${promise.politician.fullName()}"></td>
    </tr>
</table>
</body>
</html>
