<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
</head>
<body>
<nav th:fragment="navLinks">
    <a th:href="@{/politicalParty/add}">
        Add Party
    </a>
    <a th:href="@{/politician/add}">
        Add Politician
    </a>
    <a th:href="@{/promise/add}">
        Add Promise
    </a>
    <a th:href="@{/}">
        HomePage
    </a>
    <a th:href="@{/logout-success}">
        logout
    </a>
    <a th:href="@{/politicalParty/all}">
        Party List
    </a>
    <a th:href="@{/politician/all}">
        Politician List
    </a>
    <a th:href="@{/promise/all}">
        Promise List
    </a>
    <a th:href="@{/rating/all}">
        Rating List
    </a>

</nav>
</body>
</html>