<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>parties</title>
    <meta charset="UTF-8">
</head>
<body>
<div th:insert="navLinks :: navLinks"></div>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr th:each="party : ${allParties}">
        <td th:text="${party.name}"></td>
        <td th:text="${party.description}"></td>
        <td>
            <a th:href="@{/politicalParty/politicianBelong/{id}(id=${party.id})}">
                <button type="button">Details</button>
            </a>
        </td>
        <td>
            <a th:href="@{/politicalParty/edit/{id}(id=${party.id})}">
                <button type="button">Edit</button>
            </a>
        </td>
    </tr>
</table>
</body>
</html>
