<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Politicians</title>
  <meta charset="UTF-8">
</head>
<body>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Day of Birth</th>
    <th>Party</th>
    <th>Position</th>
    <th>Promises</th>
  </tr>
  <tr>
    <td th:text="${politicianDetails.firstName}"></td>
    <td th:text="${politicianDetails.lastName}"></td>
    <td th:text="${politicianDetails.dayOfBirth}"></td>
    <td th:text="${politicianDetails.party.name}"></td>
    <td th:text="${politicianDetails.position}"></td>
    <td>
      <ul>
        <li th:each="promise : ${politicianDetails.promises}" th:text="${promise.titleOfPromise}"></li>
      </ul>
    </td>
  </tr>
</table>
</body>
</html>
