<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>promisesList</title>
    <meta charset="UTF-8">
</head>
<body>

<table>
    <tr>
        <th>Rate</th>
        <th>Comment</th>
        <th>Assessment Date</th>
        <th>User</th>
        <th>Promise</th>

    </tr>
    <tr th:each="rating : ${ratingsAll}">
        <td th:text="${rating.rate}"></td>
        <td th:text="${rating.comment}"></td>
        <td th:text="${rating.assessmentDate}"></td>
        <td th:text="${rating.user.getUserName()}"></td>
        <td th:text="${rating.promise.titleOfPromise}"></td>
    </tr>
</table>
</body>
</html>
